{% if repositories.length %}
<ol class="repolist">
    {% for repo in repositories.slice(0, 5) %}
        {% if repo.description %}
        
        <li class="repolist__item">
            <h3 class="repolist__title">
                <a href="{{ repo.html_url }}">{{ repo.name }}</a>
                <span style="padding-left: 5px"></span>
                {%for topic in repo.topics %}
                    <span class="badge rounded text-bg-primary">#{{topic}}</span>
                {%endfor%}
            </h3>
            <p class="repolist__url utl-print-only">{{ repo.html_url }}</p>
            {% if repo.description %}
                <p class="repolist__desc">{{ repo.description }}</p>
            {% endif %}
            {# <div class="repolist__stats">
                <p>{%- icon "star" -%}{{ repo.stargazers_count }}<span class="sr-only"> stars</span></p>
                <p>{%- icon "fork" -%}{{ repo.forks_count }}<span class="sr-only"> forks</span></p>
            </div> #}
        </li>
        {% endif %}
    {% endfor %}
</ol>
{% endif %}